FASHION_API_IMAGE=ghcr.io/obadaa1/fashion-attribute-recognition:main
SQUAT_API_IMAGE=ghcr.io/obadaa1/squat_counter:main

FASHION_API_PORT=8011
SQUAT_API_PORT=8012

FASHION_MODEL_ROOT=/models/fashion/current
SQUAT_MODEL_ROOT=/models/squat/current
SQUAT_SAMPLE_ROOT=/data/squat/samples

FASHION_CORS_ORIGINS=https://obadaalsehli.com,http://localhost:3000
SQUAT_CORS_ORIGINS=https://obadaalsehli.com,http://localhost:3000

